a {text-decoration: none;}
body {
    margin: 0;
    padding: 0;
    line-height: 1.54;
    box-sizing: inherit;
    background: #3f246c
}
h2 {
    color: #e2ffef;
    font-family: menco, sans-serif;
    font-weight: 900;
}