:root {
    --ff-primary: 'menco', sans-serif;
    --clr-primary-200: white;
    --clr-primary-400: black;
}
* {
    margin: 0;
    padding: 0;
}
.row {
    font-size: 0px;
    margin-bottom: 2%;
    width: 100%;
}
.row:after {
    content: "";
    display: flex;
    clear: both;
}
.row2 {
    font-size: 0px;
    width: 100%;
    padding: 0px;
    margin-top: 50px;
}
.row2 p {
    max-width: 100%;
    text-align: center;
}
.column1 {
    width: 49%;
    float: left;
}
.column2 {
    width: 49%;
    float: right;
}
.DesktopView {
    display: block;
    width: 80%;
    margin: 50px auto;
}
.MobileView {
    display: none;
}
h1 {
    font-family: var(--ff-primary);
    font-size: 0;
    font-weight: 900;
    color: var(--clr-primary-400);
    text-align: center;
}
h2 {
    font-family: var(--ff-primary);
    font-weight: 900;
    font-size: 2.5em;
    color: var(--clr-primary-400);
    text-align: center;
}
h3 {
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: 2em;
    color: var(--clr-primary-400);
    text-align: center;
    max-width: 100%;
}
h4 {
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: 1.2em;
    color: var(--clr-primary-400);
    text-align: center;
    max-width: 100%;
    margin: auto;
}

p {
    font-family: var(--ff-primary);
    font-weight: 400;
    color: var(--clr-primary-400);
    max-width: 70%;
    margin: auto;
}
body {
    font-family: var(--ff-primary);
    font-size: 40px;
    font-weight: 300;
    background: var(--clr-primary-200);
    max-width: 1000px;
    position: relative;
    margin: 25px auto;
}
@media (max-width: 800px){
    p {
        font-size: 20px;
    }
    h4 {
        font-size: 30px;
    }
}

@media (max-width: 500px){
    h1 img {
        max-width: 100%;
    }
    img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
    .MobileView {
        display: block;
    }
    .DesktopView {
        display: none;
    }
}
@media (max-width: 400px){
    p {
        font-size: 20px;
    }
    h4 {
        font-size: 20px;
    }
}