:root {
    --ff-primary: 'menco', sans-serif;
    --clr-primary-200: white;
    --clr-primary-400: #000000;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
h1 {
    font-family: var(--ff-primary);
    font-weight: 900;
    color: black;
    text-align: center;
    margin-block: auto;
    padding-left: 20px;
    font-size: 5rem;
    text-align: left;
}
h2 {
    font-family: var(--ff-primary);
    font-weight: 900;
    color: white;
}
h3 {font-family: var(--ff-primary);
    font-weight: 700;
    color: white;
}
body {
    font-family: var(--ff-primary);
    font-weight: 300;
    font-size: 20px;
    /*line-height: 1.6;*/
    background: var(--clr-primary-200);
    max-width: 1000px;
    position: relative;
    margin: auto;
}
 img {
    object-fit: cover;
  }

/* .main_container { */
    /* margin: auto; */
    /* width: 100%; */
    /*background: var(--clr-primary-200);
    background-image: radial-gradient(var(--clr-primary-400) 10%, transparent 10%);
    background-size: 18px 20px;
	background-position: center;*/
/* }
/* .header {
    width: 100%;
    height: 100px;
    /*padding-top: 0.7rem;
    display: block;
    /*margin: 0 auto;
    background-color: var(--clr-primary-200);
}*/

@media (max-width: 800px){
    h1 {
        font-size: 3.8rem;
    }
}
@media (max-width: 630px){
    h1 {
        font-size: 3.2rem;
    }
}
@media (max-width: 520px){
    h1 {
        font-size: 2.5rem;
    }
}
@media (max-width: 450px){
    h1 {
        font-size: 2.2rem;
    }
}
@media (max-width: 400px){
    h1 {
        font-size: 2rem;
    }
}
/* test */