.container_center {
    border: none;
    margin: 0 auto;
    max-width: 1100px;
    min-height: 100vh;
    background: #614c84;
}

.header {
    height: 50px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.header_logo {
    height: 50px;
    padding: 0.25rem;
    margin: 0.25rem;
    display: flex;
}
.logo_image {
    height: 50px;
}
