.container_center {
    border: none;
    margin: 0 auto;
    max-width: 900px;
    min-height: 100vh;
}

.header {
    display: flex;
}
.header_logo {
    display: flex;
    flex-direction: row;
    height: 50px;
}
.logo_image {
    padding-right: 10px;
    height: 50px;
}
